
 
.brand-logo {
    width: 115px;
    height: 45px;
    display: block;
    background: url(/assets/images/logo.png) no-repeat;
    background-size: cover;
}
 

.ctable td {
    padding: 2px;;
}

.ctable th {
    padding: 2px;
    text-align: center;
}

.icon20{
    height:20px;
}


