<html>

<body>

<div class="row" >
  <div class="col-md-12 header-background"> 
  
  <span class="logo"><a href="/">Zippy ERP</a></span> 
  
   

      <div zippy="welcomform" class="navigation-top-right" >
        <div style="margin-bottom: 10px;">Здраствуйте, <span zippy="username" >&nbsp;!</span>&nbsp;&nbsp;&nbsp;<a zippy="logout"  style="text-decoration: none; " >Выход</a> </div>
        <div style="margin-bottom: 10px;"><a zippy="adminmenu" href="/?p=ZippyERP/System/Pages/AdminMain">Администратор</a> <a  href="/?p=ZippyERP/System/Pages/UserProfile">Мой кабинет</a></div>
    </div>
  </div>
</div>

  </body>
</html>
