<html>

    <body>


            <div class="col-xs-12 navigation">

            <div class="pull-left">

                  <a class="brand-logo" href="/"></a>
                </div>



                <div   zippy="welcomform">
               <div class="pull-right">


                    <i class="icon-bell  " style="font-size:18px;"  ></i><span class="badge" style="color:white;background-color:  #CA02BB;   padding:2px 4px; position:relative; top:-10px;left:-5px;" >4</span>    &nbsp; <a zippy="adminmenu" href="/?p=ZippyERP/System/Pages/AdminMain"  ><i class="icon-cog"></i> Администратор</a>&nbsp; <a  href="/?p=ZippyERP/System/Pages/UserProfile"   ><i class="icon-user" ></i> <span zippy="username"></span> </a>&nbsp; <a zippy="logout"  ><i class="icon-exitalt"></i> Выход</a>

                        </div>




          </div>



            </div>


    </body>
</html>
