<html>
<body >
    <table width="500px" border="0" cellspacing="0" cellpadding="2">
      <tr><td colspan="5">Дата: {date}</td></tr>
      <tr><td colspan="5" align="center"> <b>  Ручная хоз. операция  № {document_number} </b> </td></tr>
      <tr><td colspan="5">{description}</td> </tr>
     <tr style="font-weight: bolder;">
     <td style="width:30px;border: 1px solid black;" >№</td><td style="width:40px;border: 1px solid black;" >Дт</td><td  style="width:40px;border: 1px solid black;">Кт</td><td style="width:60px;border: 1px solid black;">Сумма</td><td style="border: 1px solid black;">&nbsp;</td></tr>
     <tr band="detail_row"><td style="border: 1px solid black;">{no}<td style="border: 1px solid black;">{dt}</td><td style="border: 1px solid black;">{ct}</td><td  align="right"  style="border: 1px solid black;">{amount}</td><td style="border: 1px solid black;">{comment}&nbsp;</td></tr>
     </table>     
  
 <br>
</body>
</html>
