<html>
<body>
  <table width="500px" border="0" cellpadding="2">
     <tr >

        <td colspan="2">
           Дата: {date}
        </td>
     </tr>
     <tr >
        <td >
         Со склада:  {from}
        </td>

        <td>
          На  склад: {to}
        </td>
     </tr>
     <tr style="font-weight: bolder;">
        <td  colspan="2" align="center" >
        Перемещение товара  № {document_number}
        </td>
     </tr>

  </table>
   <br>
     <table width="500px"  cellspacing="0" cellpadding="1" border="1">
     <tr style="font-weight: bolder;"><th width="20px">№</th><th width="180px" >Наименование</th><th  width="50px">Ед.изм</th><th width="100px">S/N, RFID</th><th width="50px">Кол.</th></tr>
     <tr band="detail_row"><td>{no}<td>{item_name}</td><td>{measure}</td><td>{serial_number}</td><td align="right">{quantity}</td></tr>
     </table>     
  
  <br>
  
  <table width="500px">
     <tr >
        <td width="50%">
           Отправил
        </td>
        <td>
           Получил
        </td>
     </tr>
  </table>
   <br> <br>
</body>
</html>
