<html>

<body>
<style>
th {
width:40px;
}

</style>
  <h3 style="font-size: 16px;">Шахматка c {from}  по  {to}</h3>
<br>
     <table   cellspacing="0" cellpadding="1" border="1">
     <tr style="font-weight: bolder;"><td >Деб.\Кр.</td><th  band="top">{acc_c}</th><td>Деб. об.</td></tr>
     <tr band="middle"><td style="font-weight: bolder;"  >{acc_d} </td><td  band="data" align="right">{ob}</td><td style="font-weight: bolder;"  align="right" band="right">{d_o}</td></tr>
     <tr style="font-weight: bolder;"><td >Кр. об.</td><td band="bottom" align="right">{c_o}</td><td>&nbsp;</td></tr>

     </table>     

  
  <br> 
</body>
</html>
