<!DOCTYPE HTML>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <link href="/templates/css/jquery-ui-1.9.1.custom.css" rel="stylesheet" type="text/css" media="screen">

        <link href="/templates/tb/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="/templates/tb/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
        <link href="/templates/tb/css/font-awesome.css" rel="stylesheet" type="text/css">
        <link href="/templates/css/zippy.css" rel="stylesheet" type="text/css" media="screen">
        <link href="/templates/css/erp.css" rel="stylesheet" type="text/css">

        <script src="/js/jquery/jquery-1.8.2.js" type="text/javascript"></script>
        <script src="/js/jquery/jquery-ui-1.9.1.custom.js" type="text/javascript"></script>
        <script src="/templates/tb/js/bootstrap.js" type="text/javascript"></script>  
        <script src="/js/jquery/jquery.form.js" type="text/javascript"></script>  
        <script src="/js/zippy.js" type="text/javascript"></script>  



    </head>

    <body>

        <div class="container" >
            <div zippy="header"></div>



            <div class="row">
                <div class="col-md-8 col-md-offset-2">    
                    <div class="error"  id="errormessage" zippy="errormessage"></div>
                </div> 
            </div>           



            <childpage/>




            <div class="row">
                <div class="col-md-12 footer">        

                    <div ><span>Copyright © 2013</span> </div>
                </div> 
            </div> 

        </div>

    </body>

</html>
