<html>

    <body>
        <div class="row">
            <div class="col-8 col-lg-6">
                <h3>Сповіщення</h3>
                <table class="table table-sm table-striped">
                    <tr zippy="nlist">

                        <td><p zippy="msg"  > /p>  </td>
                        <td><span zippy="newn"  class="badge badge-info">New</span> </td>
                        <td class="text-nowrap"><span zippy="ndate" ></span> </td>

                    </tr>
                </table>
                <div zippy="pag"></div>

            </div>
        </div>

    </body>
</html>