<html>
<body>
<div class="row">
    <div class="col-xs-6 offset-xs-1 ">
        <h4>Создание пользовтеля</h4>

        <form role="form" class="col-xs-6" zippy="regform">
            <div class="form-group">
                <label for="r_userpassword">Логин</label>
                <input type="input" class="form-control" zippy="r_userpassword">
            </div>
            <div class="form-group">
                <label for="r_userlogin">Пароль</label>
                <input type="input" class="form-control" zippy="r_userlogin">
            </div>
            <div class="form-group">
                <label for="r_confirmpassword">Подтверждение</label>
                <input type="input" class="form-control" zippy="r_confirmpassword">
            </div>
            <input type="button" zippy="r_submit" value="Ввод" class="btn btn-primary btn-sm">
        </form>

    </div>
</div>
<div style="height:200px;"></div>
</body>
</html>
