<html>
<body>


<div class="container">
    <div class="row vertical-offset-100">
        <div class="col-xs-4  offset-xs-4">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Zippy ERP</h3>
                </div>
                <div class="panel-body">
                    <form accept-charset="UTF-8" role="form" zippy="loginform">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" zippy="userlogin" required="required" placeholder="admin"
                                       type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="admin" name="password" zippy="userpassword"
                                       required="required" type="password" value="">
                            </div>  
                            <div class="checkbox pull-left">

                            
                                <div class="checkboxFive">
                                    <input type="checkbox" zippy="remember" value="1" id="checkboxFiveInput" name=""/>
                                    <label for="checkboxFiveInput"><span>Запомнить</span></label>
                                </div>


                            </div>
                            <button type="submit" zippy="submit" class="btn btn-secondary pull-right">Ввод</button>
                        </fieldset>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div> <!-- end container -->


</body>
</html>
