<html>

    <body>
        <div class="row">



            <div  zippy="listpan" class="col-8">
                <h3>Користувачі системи</h3>
                <a zippy="addnew" class="btn btn-outline-success  ">Додати</a>
                <table class="table table-bordered table-striped table-sm">

                    <thead align="center">
                        <tr>
                            <th>Логін</th>
                            <th  >Дата рег.</th>

                            <th  >Email</th>
                            <th width="24">&nbsp;</th>
                            <th width="24">&nbsp;</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr zippy="userrow">
                            <td><a zippy="userlogin"></a></td>
                            <td zippy="created" align="center" style="white-space:nowrap"></td>

                            <td zippy="email"  ></td>
                            <td><a zippy="edit"><i class="fa fa-edit"></i></a></td>
                            <td><a zippy="remove"><i class="fa fa-trash"></i></a></td>
                        </tr>
                    </tbody>
                </table>

            </div>



            <div zippy="editpan" class="col-12 col-sm-10  col-md-8  col-lg-4">
                <h4> Редагування</h4>   
                <form zippy="editform" role="form">
                    <div class="form-group">
                        <label for="editlogin">Логін</label>
                        <input  style="width:200px" class="form-control" zippy="editlogin" required="required">
                    </div>  
                    <div class="form-group">
                        <label for="editpass">Пароль</label>
                        <input  style="width:200px" class="form-control" zippy="editpass"  >
                        <span style="font-size:12px">Якщо не змінюєте пароль існуючого користувача, залиште порожнім</span>
                    </div>
                    <div class="form-group">
                        <label for="editemail">Email</label>
                        <input  style="width:200px" class="form-control" zippy="editemail"  >
                    </div>
                    <div class="form-group">
                        <label  >Віджети</label>
                        <div class="form-check   ">

                            <input class="form-check-input"  type="checkbox" zippy="editwplan">
                            <label class="form-check-label mr-sm-2" for="editwplan">Заплановані документи</label>
                        </div>                  
                        <div class="form-check   ">

                            <input class="form-check-input"  type="checkbox" zippy="editwnoliq">
                            <label class="form-check-label mr-sm-2" for="editwnoliq">Неліквідні товари</label>
                        </div>                  
                        <div class="form-check   ">

                            <input class="form-check-input"  type="checkbox" zippy="editwhlitems">
                            <label class="form-check-label mr-sm-2" for="editwhlitems">Стан складів</label>
                        </div>                  
                    </div>

                    <div class="form-group">
                        <label for="erpacl">Права доступу в ERP</label>
                        <select  style="width:200px"  class="form-control" zippy="editerpacl">
                            <option value="0">Не вибрано</option>
                            <option value="1">Повний доступ </option>
                            <option value="2">Розділений доступ</option>

                        </select>
                    </div> 
                    <div class="form-group" zippy="metaaccess"> 
                        <h5>Налаштування  доступу до метаданних</h5>
                        &nbsp;&nbsp;<span style="cursor:pointer" onclick=" $('.acl').prop('checked', true);"><i class="far fa-check-square"></i> Виставити всі</span> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; <span  style="cursor:pointer" onclick=" $('.acl').prop('checked', false);"><i class="far fa-square"></i>   Зняти всі</span>  
                        <table class="table table-sm table-striped">
                            <tr><th>Тип</th><th>Группа</th><th>Об'єкт</th><th style="width:30px" title="Перегляд"><i class="fa fa-search"></i> </th><th style="width:30px" title="Редагування"><i class="fa fa-edit"></i> </th></tr>
                            <tr zippy="metarow"><td zippy="meta_name"> </td><td zippy="menugroup"> </td><td zippy="description"> </td><td><input class="acl" zippy="viewacc" type="checkbox"></td><td><input zippy="editacc" class="acl" type="checkbox"></td></tr>
                        </table>


                    </div> 
                    <div class="form-group">
                        <label  >Права доступу в магазині</label>

                        <div class="form-check   ">

                            <input class="form-check-input"  type="checkbox" zippy="editshopcontent">
                            <label class="form-check-label mr-sm-2" for="editshopcontent">Контент менеджер магазину</label>
                        </div>                  
                        <div class="form-check   ">

                            <input class="form-check-input"  type="checkbox" zippy="editshoporders">
                            <label class="form-check-label mr-sm-2" for="editshoporders">Менеджер замовлень магазину</label>
                        </div>                  


                    </div>
                    <div class="form-group">

                        <button type="submit" class="btn btn-primary   ">Зберегти</button>
                        &nbsp; <a zippy="cancel" class="btn btn-light    ">Відмінити</a>
                    </div>
                </form> 
            </div>


        </div>
        <script>
            function check_remove() {

                return confirm("Видалили користвача?")

            }

        </script>
    </body>
</html>