<html>


    <body>

        <div class="row">
            <div class="col-8 col-lg-6">

                <table>
                    <tr>

                        <td id="td-info">
                            Інформація про користувача
                            <table class=" table table-bordered table-sm">


                                <tbody>
                                    <tr>
                                        <td><b>Логін:</b></td>
                                        <td zippy="login"></td>
                                    </tr>
                                    <tr>
                                        <td><b>Регістрація:</b></td>
                                        <td zippy="createdate"></td>
                                    </tr>

                                    <tr>
                                        <td><b>Email:</b></td>
                                        <td zippy="email"></td>
                                    </tr>
                                </tbody>

                            </table>

                        </td>


                    </tr>
                </table>

            </div>
        </div>
    </body>
</html>






