<html>

    <body>
        <div class="row">


            <div zippy="listpan">
                <div class="col-xs-8">
                    <h3>Користувачі системи</h3>
                    <a zippy="addnew" class="btn btn-default btn-sm">Додати</a>
                    <table class="table table-bordered table-striped table-condensed">

                        <thead align="center">
                            <tr>
                                <th>Логін</th>
                                <th  >Дата рег.</th>

                                <th  >Email</th>
                                <th width="24">&nbsp;</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr zippy="userrow">
                                <td><a zippy="userlogin"></a></td>
                                <td zippy="created" align="center" style="white-space:nowrap"></td>

                                <td zippy="email"  ></td>
                                <td><a zippy="edit"><i class="fa fa-edit"></i></a></td>
                                <td><a zippy="remove"><i class="fa fa-trash"></i></a></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <div zippy="editpan">
                <div class="col-xs-4">
                    <h4> Редагування</h4>   
                    <form zippy="editform" role="form">
                        <div class="form-group">
                            <label for="editlogin">Логін</label>
                            <input class="form-control" zippy="editlogin" required="required">
                        </div>  
                        <div class="form-group">
                            <label for="editpass">Пароль</label>
                            <input class="form-control" zippy="editpass"  >
                            <span style="font-size:12px">Якщо не змінюєте пароль існуючого користувача, залиште порожнім</span>
                        </div>
                        <div class="form-group">
                            <label for="editemail">Email</label>
                            <input class="form-control" zippy="editemail"  >
                        </div>
                        <div class="form-group">
                            <label for="erpacl">Права доступу в ERP</label>
                            <select  class="form-control" zippy="editerpacl">
                                <option value="0">Не вибрано</option>
                                <option value="1">Повній доступ к бухгалтерії</option>
                                <option value="2">Доступ задаєтся в метаданних</option>
                                <option value="3">Доступ тільки до своїх документів</option>
                            </select>
                        </div>  
                        <div class="form-group">
                            <label for="erpacl">Права доступу в магазині</label>

                            <div class="checkbox">
                                <label>
                                    <input zippy="editshopcontent" type="checkbox"> Контент менеджер магазину
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input zippy="editshoporders" type="checkbox"> Менеджер замовлень магазину
                                </label>
                            </div>
                        </div>
                        <div class="form-group">

                            <button type="submit" class="btn btn-default btn-sm ">Зберегти</button>
                            &nbsp; <a zippy="cancel" class="btn btn-default  btn-sm ">Відмінити</a>
                        </div>
                    </form> 
                </div>
            </div>

        </div>
        <script>
            function check_remove() {

                return confirm("Удалить  пользователя?")

            }

        </script>
    </body>
</html>