
<html >
    <body>
        <div class="row">
            <div class="col-md-2 col-md-offset-4" style="padding-top:100px;">  

                <form role="form" zippy="loginform">
                    <div class="form-group">
                        <label for="userlogin">Логин</label>
                        <input value="admin" type="input" class="form-control" zippy="userlogin" required="required" placeholder="admin" >
                    </div>
                    <div class="form-group">
                        <label for="userpassword">Пароль</label>
                        <input value="admin"  type="password" class="form-control" zippy="userpassword" required="required"  placeholder="admin" >
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" zippy="remember"> Запомнить
                        </label>
                    </div>
                    <button type="submit" zippy="submit" class="btn btn-default btn-sm">Ввод</button>
                </form>
            </div></div>
        <div style="height:200px;"> </div>
    </body>
</html>
