<!DOCTYPE HTML>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="/templates/css/jquery-ui-1.9.1.custom.css" rel="stylesheet" type="text/css" media="screen">
        <link href="/templates/tb/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="/templates/tb/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
        <link href="/templates/tb/css/font-awesome.css" rel="stylesheet" type="text/css">
        <link href="/templates/css/erp.css" rel="stylesheet" type="text/css">
        <link href="/templates/css/zippy.css" rel="stylesheet" type="text/css" media="screen">
        <script src="/js/jquery/jquery-1.8.2.js" type="text/javascript"></script>
        <script src="/js/jquery/jquery-ui-1.9.1.custom.js" type="text/javascript"></script>
        <script src="/templates/tb/js/bootstrap.js" type="text/javascript"></script>
        <script src="/js/jquery/jquery.form.js" type="text/javascript"></script>
        <script src="/js/jquery/jquery.cookie.js" type="text/javascript"></script>
        <script src="/js/jquery/jquery.autocomplete.js" type="text/javascript"></script>  
 
        <script src="/js/zippy.js" type="text/javascript"></script>
    </head>


    <body>
        <div class="container" >
            <div zippy="header"></div>
            <div class="row" >
                <div class="col-md-12">
                    <div class="navigation-bar-header">
                        <ul  class="nav nav-pills">
                            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Страницы <b class="caret"></b> </a>
                                <ul class="dropdown-menu" zippy="menupage">
                                </ul>
                            </li>
                            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Документы <b class="caret"></b> </a>
                                <ul class="dropdown-menu" zippy="menudoc">
                                </ul>
                            </li>
                            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Отчеты <b class="caret"></b> </a>
                                <ul class="dropdown-menu" zippy="menurep">
                                </ul>
                            </li>
                            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Журналы <b class="caret"></b> </a>
                                <ul class="dropdown-menu" zippy="menureg">
                                </ul>
                            </li>
                            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Справочники <b class="caret"></b> </a>
                                <ul class="dropdown-menu" zippy="menuref">
                                </ul>
                            </li>
                          <!--  <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Сервис <b class="caret"></b> </a>
                                <ul class="dropdown-menu" >
                                    <li><a href="/?p=ZippyERP/ERP/Pages/Service/Export">Экспорт</a></li>                                
                                    <li><a href="/?p=ZippyERP/ERP/Pages/Service/Import">Импорт</a></li>                                
                                </ul>
                            </li> -->
                            <li class="dropdown"> <a zippy="pageinfo" data-html="true" data-template='<div class="popover" style="width:400px;font-size: 12px" role="tooltip"><div class="arrow"></div><div class="popover-content"></div></div>' tabindex="0" style="white-space: nowrap"  data-toggle="popover" data-placement="bottom" data-content="Об этой  странице нет информации"  ><i  title="Информация  о  странице" class="fa fa-question fa-lg" ></i></li>
                        </ul> 
                    </div>
                </div>
            </div>
            <div class="row"> 
                <div class="col-md-8 col-md-offset-2">
                    <div class="alert alert-danger" style="padding:5px;" id="errormessage" zippy="errormessage"></div>
                </div>
            </div>
            <childpage/>
            <div class="row">
                <div class="col-md-12 footer">
                    <div ><span>Copyright © 2013</span> </div>
                </div>
            </div>
        </div>
        
   <script>

$(function () {
  $('[data-toggle="popover"]').popover()
})      
   </script>
    </body>

</html>
