<html>
    <body>

        <div class="row">  
            <!--  Виджеты-->
            <div data-label="wplan" class="col-12 col-md-6  col-lg-4 ">
                <div zippy="wplan"  ></div> 
            </div> 
            <div data-label="wnoliq" class="col-12 col-md-6  col-lg-4 ">
                <div zippy="wnoliq"  ></div> 
            </div> 
            <div data-label="whlitems" class="col-12 col-md-6  col-lg-4 ">
                <div zippy="whlitems"  ></div> 
            </div> 



            <div class="col-7">
                {{#lowitems}}

                <span style="font-size:16px ">Недостатня кількість товарів</span>
                <span class="fa fa-info-circle " data-toggle="tooltip" data-placement="top"
                      title="Товари, кількість яких на  дату недостатньо для задоволення середнього  попиту."></span>

                <table class="table   table-sm">

                    <tr>
                        <th>Дата</th>
                        <th>Товар</th>
                        <th>Склад</th>
                        <th>Всього</th>
                        <th>Норма</th>
                    </tr>
                    <tr zippy="lowlist">
                        <td zippy="lowdate"></td>
                        <td zippy="lowitem"></td>
                        <td zippy="lowstore"></td>
                        <td zippy="lowqty" align="right"></td>
                        <td zippy="lowneed" align="right"></td>
                    </tr>
                </table>
                {{/lowitems}}
                <br>
                {{#highitems}}


                {{/highitems}}
            </div>


        </div>


    </body>
</html>
