<html>
<head>
    <script>
        function check_rowdelete() {

            return confirm("Удалить  объект?")

        }

    </script>
</head>
<body>
<div class="row">
    <div class="col-xs-12">

        <div zippy="listpan">
            <div class="row">
                <div class="col-xs-10">
                    <h4> Объекты метаданных </h4>
                    <form zippy="filter" class="form-inline" role="form">
                         <div class="form-group">
                            <div class="checkbox">
                            <label>
                                <input type="checkbox" zippy="fdoc">Документы
                            </label>
                            </div>
                        </div>
                          <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" zippy="fdic">Справочники
                            </label>
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" zippy="frep">Отчеты
                            </label>
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" zippy="freg">Журналы
                            </label>
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" zippy="fpage">Страницы
                            </label>
                        </div>
                        </div>
                        <button type="submit" class="btn btn-secondary btn-sm ">Обновить</button>
                    </form>
                    <a class="btn btn-secondary   btn-sm " zippy="addnew">Создать</a>
                    <table class="table table-bordered table-striped  ">
                        <tr>
                            <th>Обозначение</th>
                            <th>Имя класса</th>
                            <th>Тип</th>
                            <th>Группа</th>
                            <th></th>
                        </tr>
                        <tr zippy="metarow">
                            <td><span zippy="description"></span></td>
                            <td><span zippy="meta_name"></span></td>
                            <td><span zippy="type"></span></td>
                            <td><span zippy="menugroup"></span></td>
                            <td style="white-space:   nowrap"><a zippy="rowedit"><i class="fa fa-pencil-square-o"></a> <a
                                    zippy="rowdelete"> <i class="fa fa-trash"></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div zippy="editpan">
            <h4> Редактирование объекта</h4>
            <form zippy="editform" role="form">
                <input type="hidden" zippy="meta_id" value="0">
                <div class="row">
                    <div class="col-xs-4">
                        <h5>Елементы объекта</h5>
                        <div class="form-group">
                            <label for="edit_description">Название</label>
                            <input class="form-control" zippy="edit_description" required="required">
                        </div>
                        <div class="form-group">
                            <label for="edit_meta_name">Имя класса</label>
                            <input class="form-control" zippy="edit_meta_name" required="required">
                        </div>
                        <div class="form-group">
                            <label for="edit_menugroup">Группа</label>
                            <input class="form-control" zippy="edit_menugroup">
                        </div>
                        <div class="form-group">
                            <label for="edit_menugroup">Тип</label>
                            <select class="form-control" zippy="edit_meta_type">
                                <option value="1">Документ</option>
                                <option value="2">Отчет</option>
                                <option value="3">Журнал</option>
                                <option value="4">Справочник</option>
                                <option value="5">Страница</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="edit_menugroup">Описание</label>
                            <textarea style="height: 120px;" class="form-control" zippy="edit_notes"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="edit_disabled">Не показывать в меню</label>
                            <input type="checkbox" zippy="edit_disabled">
                        </div>
                    </div>
                    <div class="col-xs-4 offset-xs-1">
                        <h5>Права доступа</h5>
                        <table class="table table-bordered table-striped table-sm">
                            <tr>
                                <th>Роль</th>
                                <th style="width:16px"><i title="Просмотр" class="fa fa-search"></i></th>
                                <th style="width:16px"><i title="Редактирвание/Создание" class="fa fa-pencil-square-o"></i></th>
                                <th style="width:16px"><i title="Удаление" class="fa fa-trash"></i></th>
                                <th style="width:16px"><i title="Выполнение" class="fa fa-cog"></i></th>
                            </tr>
                            <tr zippy="rolerow">
                                <td><span zippy="rolename"></span></td>
                                <td align="center"><input type="checkbox" zippy="viewacc"></td>
                                <td align="center"><input type="checkbox" zippy="editacc"></td>
                                <td align="center"><input type="checkbox" zippy="deleteacc"></td>
                                <td align="center"><input type="checkbox" zippy="execacc"></td>

                            </tr>
                        </table>
                    </div>
                </div>
                <button type="submit" class="btn btn-secondary btn-sm">Сохранить</button>
                &nbsp;&nbsp;&nbsp; <a zippy="cancel" class="btn btn-secondary btn-sm">Отменить</a>
            </form>
        </div>

    </div>
</div>
</body>
</html>