<html >
    <body >

        <div class="row">
            <div class="col-xs-12">

                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#commontab" data-toggle="tab">Общие</a></li>
                    <li ><a href="#attrtab" data-toggle="tab">Реквизиты  предприятия</a></li>
                </ul>
                <div class="tab-content">
                    <div  id="commontab" class="tab-pane  active" >
                        <form   role="form" zippy="common" method="post" >
                  <div class="row">
                                <div class="col-xs-4">
                            <div class="form-group">
                                <label for="closeddate"  >Дата  закрытия периода</label>
                                <input type="text" class="form-control " zippy="closeddate" >
                            </div>
                            <div class="form-group">
                                <label for="nds"  >НДС %</label>
                                <input type="text" class="form-control " zippy="nds" >
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" zippy="hasnds"> Плательщик НДС
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" zippy="simpletax"> Единый налог
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" zippy="juridical"> Юридическое  лицо
                                </label>
                            </div>
                            <input zippy="commonsave" type="submit" value="Сохранить" class="btn btn-default  ">
                             </div>
                             <div class="col-xs-4">
                          <div class="form-group">
                                        <label for="bank"  >Основной склад</label>
                                        <select zippy="basestore" class="form-control ">
                                        </select>
                                    </div>
                                </div>

                              </div>
                        </form>
                    </div>


                    <div  id="attrtab" class="tab-pane  " >

                        <form zippy="detail" method="post"   role="form">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="name"  >Наименование</label>
                                        <input type="text" class="form-control " zippy="name" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="city"  >Город</label>
                                        <input type="text" class="form-control " zippy="city"  >
                                    </div>
                                    <div class="form-group">
                                        <label for="street"  >Улица, дом</label>
                                        <input type="text" class="form-control " zippy="street"  >
                                    </div>
                                    <div class="form-group">
                                        <label for="phone"  >Телефон</label>
                                        <input type="text" class="form-control " zippy="phone"  >
                                    </div>
                                    <div class="form-group">
                                        <label for="email"  >Email</label>
                                        <input type="text" class="form-control " zippy="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" >
                                    </div>
                                    <div class="form-group">
                                        <label for="manager"  >Директор</label>
                                        <input type="text" class="form-control " zippy="manager"  >
                                    </div>
                                    <div class="form-group">
                                        <label for="accounter"  >Бухгалтер</label>
                                        <input type="text" class="form-control " zippy="accounter"   >
                                    </div>
                                    <div class="form-group">
                                        <label for="bankaccount"  >Номер основного счета</label>
                                        <input   class="form-control " type="number" zippy="bankaccount"   >
                                    </div>
                                    <div class="form-group">
                                        <label for="bank"  >В банке</label>
                                        <select zippy="bank" class="form-control ">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="bankaccount2"  >Номер дополнительного счета</label>
                                        <input   class="form-control " type="number" zippy="bankaccount2"   >
                                    </div>
                                    <div class="form-group">
                                        <label for="bank2"  >В банке</label>
                                        <select zippy="bank2" class="form-control ">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="edrpou"  >ЄДРПОУ</label>
                                        <input  class="form-control " zippy="edrpou"  >
                                    </div>
                                    <div class="form-group">
                                        <label for="koatuu"  >КОАТУУ</label>
                                        <input  class="form-control " type="number" zippy="koatuu"   >
                                    </div>
                                    <div class="form-group">
                                        <label for="kopfg"  >КОПФГ</label>
                                        <input  class="form-control " type="number" zippy="kopfg"   >
                                    </div>
                                    <div class="form-group">
                                        <label for="kodu"  >КОДУ</label>
                                        <input  class="form-control " type="number" zippy="kodu"   >
                                    </div>
                                    <div class="form-group">
                                        <label for="kved"  >КВЕД</label>
                                        <input  class="form-control "   zippy="kved"   >
                                    </div>
                                    <div class="form-group">
                                        <label for="gni"  >Код ГНИ</label>
                                        <input  class="form-control " type="number" zippy="gni"   >
                                    </div>
                                    <div class="form-group">
                                        <label for="inn"  >ИНН</label>
                                        <input  class="form-control " type="number" zippy="inn"   >
                                    </div>

                                </div>
                            </div>



                            <input zippy="detailsave" type="submit" value="Сохранить" class="btn btn-default ">

                        </form>
                        <br>
                        <br>


                    </div>

                </div>
            </div>


    </body>
</html>