<html>
    <body>

        <div class="row">
            <div class="col-12">

                <ul class="nav   nav-tabs" role="tablist">
                    <li class="nav-item active"><a class="nav-link" href="#commontab" data-toggle="tab">Загальні</a></li>
                    <li class="nav-item"><a class="nav-link" href="#attrtab" data-toggle="tab">Реквізити підприємства</a></li>
                    <li class="nav-item"><a class="nav-link" href="#taxtab" data-toggle="tab">Податки та  відрахування</a></li>
                </ul>
                <div class="tab-content">
                    <div id="commontab" class="tab-pane  active">
                        <form role="form" zippy="common" method="post">
                            <div class="row">
                                <div class="col-12 col-md-4  ">
                                    <div class="form-group">
                                        <label for="closeddate">Дата закриття періоду</label>
                                        <input type="text" class="form-control " zippy="closeddate">
                                    </div>



                                    <div class="form-check   ">

                                        <input class="form-check-input"  type="checkbox" zippy="hasnds">
                                        <label class="form-check-label mr-sm-2" for="hasnds">Платник ПДВ</label>
                                    </div>   
                                    <div class="form-check   ">

                                        <input class="form-check-input"  type="checkbox" zippy="simpletax">
                                        <label class="form-check-label mr-sm-2" for="simpletax">Єдиний податок</label>
                                    </div>   
                                    <div class="form-check   ">

                                        <input class="form-check-input"  type="checkbox" zippy="juridical">
                                        <label class="form-check-label mr-sm-2" for="juridical">Юридична особа</label>
                                    </div>                                    
                                    <div class="form-group">
                                        <input zippy="commonsave" type="submit" value="Зберегти" class="btn btn-primary  ">
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 ">
                                    <div class="form-group">
                                        <label for="bank">Основний склад</label>
                                        <select zippy="basestore" class="form-control ">
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label data-label="manager" for="manager">Директор</label>
                                        <select class="form-control select2 " zippy="manager">
                                            <option value="0">Не вибраний</option>
                                        </select> 
                                    </div>
                                    <div class="form-group">
                                        <label data-label="ownerfiz" for="ownerfiz">Власник</label>
                                        <select class="form-control select2 " zippy="ownerfiz"  >
                                            <option value="0">Не вибраний</option>
                                        </select>         
                                    </div>
                                    <div class="form-group">
                                        <label for="accounter">Бухгалтер</label>
                                        <select class="form-control select2 " zippy="accounter" >
                                            <option value="0">Не вибраний</option>
                                        </select>         
                                    </div>

                                </div>
                                <div class="col-12 col-md-4 "> 
                                    <div class="form-group">
                                        <label data-label="USD"  for="USD">Курс USD</label>
                                        <input style="width:100px;" type="text" class="form-control " zippy="USD" pattern="[0-9\.]+">
                                    </div>
                                    <div class="form-group">
                                        <label data-label="EURO" for="EURO">Курс EURO</label>
                                        <input style="width:100px;" type="text" class="form-control " zippy="EURO" pattern="[0-9\.]+">
                                    </div>
                                    <div class="form-group">
                                        <label data-label="RUR" for="RUR">Курс RUR</label>
                                        <input style="width:100px;" type="text" class="form-control " zippy="RUR" pattern="[0-9\.]+">
                                    </div>
                                </div>   
                            </div>
                        </form>
                    </div>


                    <div id="attrtab" class="tab-pane   ">

                        <form zippy="detail" method="post" role="form">
                            <div class="row">
                                <div class="col-12 col-md-4 ">
                                    <div class="form-group">
                                        <label for="name">Найменування</label>
                                        <input type="text" class="form-control " zippy="name" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="city">Місто</label>
                                        <input type="text" class="form-control " zippy="city">
                                    </div>
                                    <div class="form-group">
                                        <label for="street">Вулиця, дім</label>
                                        <input type="text" class="form-control " zippy="street">
                                    </div>
                                    <div class="form-group">
                                        <label for="phone">Телефон</label>
                                        <input type="text" class="form-control " zippy="phone">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text" class="form-control " zippy="email"
                                               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                                    </div>
                                    <div class="form-group">
                                        <label for="bankaccount">Номер основного рахунку</label>
                                        <input class="form-control " type="number" zippy="bankaccount">
                                    </div>
                                    <div class="form-group">
                                        <label for="bank">В банку</label>
                                        <select zippy="bank" class="form-control ">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="bankaccount2">Номер додаткового рахунку</label>
                                        <input class="form-control " type="number" zippy="bankaccount2">
                                    </div>
                                    <div class="form-group">
                                        <label for="bank2">В банку</label>
                                        <select zippy="bank2" class="form-control ">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 ">
                                    <div class="form-group">
                                        <label for="edrpou">ЄДРПОУ</label>
                                        <input class="form-control " zippy="edrpou">
                                    </div>
                                    <div class="form-group">
                                        <label for="koatuu">КОАТУУ</label>
                                        <input class="form-control " type="number" zippy="koatuu">
                                    </div>
                                    <div class="form-group">
                                        <label for="kopfg">КОПФГ</label>
                                        <input class="form-control " type="number" zippy="kopfg">
                                    </div>
                                    <div class="form-group">
                                        <label for="kodu">КОДУ</label>
                                        <input class="form-control " type="number" zippy="kodu">
                                    </div>
                                    <div class="form-group">
                                        <label for="kved">КВЕД</label>
                                        <input class="form-control " zippy="kved">
                                    </div>
                                    <div class="form-group">
                                        <label for="gni">Код ДПІ</label>
                                        <input class="form-control " type="number" zippy="gni">
                                    </div>
                                    <div class="form-group">
                                        <label for="inn">ІНН</label>
                                        <input class="form-control " type="number" zippy="inn">
                                    </div>

                                </div>
                            </div>


                            <input zippy="detailsave" type="submit" value="Зберегти" class="btn btn-primary ">

                        </form>
                        <br>
                        <br>


                    </div>
                    <div id="taxtab" class="tab-pane   ">

                        <form zippy="tax" method="post" role="form">
                            <div class="row">
                                <div class="col-12 col-md-3 ">
                                    <div class="form-group ">
                                        <label for="minsalary"    >Мін. зарплата </label>
                                        <input type="text" class="form-control " zippy="minsalary" pattern="[0-9\.]+">
                                    </div>
                                    <div class="form-group ">
                                        <label for="minnsl"  >Границя ПСП</label>
                                        <input type="text" class="form-control " zippy="minnsl" pattern="[0-9\.]+">
                                    </div>
                                    <div class="form-group ">
                                        <label for="nsl" >ПСП</label>
                                        <input type="text" class="form-control " zippy="nsl" pattern="[0-9\.]+">
                                    </div>
                                    <div class="form-group ">
                                        <label for="nds" >ПДВ % </label>
                                        <input type="text" class="form-control " zippy="nds" pattern="[0-9\.]+">
                                    </div>
                                    <div class="form-group">
                                        <label for="onetax" >Єдиний податок </label>

                                        <input type="text" class="form-control " zippy="onetax" pattern="[0-9\.]+">

                                    </div>

                                </div>
                                <div class="col-12 col-md-3 ">

                                    <div class="form-group">
                                        <label for="ecbfot" class=" -label">ЕСВ ФОТ </label>

                                        <input type="text" class="form-control " zippy="ecbfot" pattern="[0-9\.]+">

                                    </div>
                                    <div class="form-group">
                                        <label for="ecbinv" class=" -label">ЕСВ (інвалід.) </label>

                                        <input type="text" class="form-control " zippy="ecbinv" pattern="[0-9\.]+">

                                    </div>
                                    <div class="form-group">
                                        <label for="military" class=" -label">Війсковмй збір </label>

                                        <input type="text" class="form-control " zippy="military" pattern="[0-9\.]+">

                                    </div>
                                    <div class="form-group">
                                        <label for="taxfl" >Подоходний ФО </label>

                                        <input type="text" class="form-control " zippy="taxfl" pattern="[0-9\.]+">

                                    </div>

                                </div>
                            </div>


                            <input zippy="taxsave" type="submit" value="Зберегти" class="btn btn-primary ">

                        </form>
                    </div>
                </div>


                </body>
                </html>