<html>
    <body>
        <div class="row ">    
            <div class="col-xs-12">    
                <ol class="breadcrumb" zippy="breadcrumb">

                </ol>
            </div>
        </div>
        <div class="row ">    
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 ">    
                <ul class="nav nav-pills  nav-stacked">
                    {{#leftmenu}}
                    <li  ><a href={{link}}>{{name}}</a></li>
                    {{/leftmenu}}
                </ul>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9  col-lg-10">    
                <div class="row" zippy="subcatlistp">    
                    <div   style="width:175px;float:left" zippy="subcatlist">
                        <a zippy="scatimg"><img style="height:200px;display:block" /></a>
                        <a zippy="scatname"></a>
                    </div>
                </div>      

                <div class="row" zippy="newlistp"> 
                    <h3>Новинки</h3>   
                    <div class="col-xs-12 col-sm-3  "  zippy="newlist">                        
                        <a zippy="nimage" ><img style="width:100px;"></a>
                        <h5 ><a zippy="nname"></a> </h5>
                    </div>
                </div>



            </div>
        </div>

    </body>
</html>
