<html>
    <body>

        <div class="row">
            <div class="col-xs-3">
                <h2>Налаштування</h2>
                <form role="form" zippy="optionform"  >

                    <div class="form-group">
                        <label for="store">Склад</label>
                        <select class="form-control" zippy="store" >
                            <option value="0">Вибрати</option>  
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="emailorder">Email для відправки повідмлення про нове замовлення</label>
                        <input type="email" class="form-control" zippy="emailorder" >

                    </div>



                    <div class="form-group">
                        <input zippy="save" type="submit" value="Зберегти" class="btn btn-default  ">
                    </div>



                </form>
            </div>

        </div>


    </body>
</html>