<html >

    <body>
        <div class="row">
            <div class="col-12  col-sm-10 col-md-8">
                <h3>Список  замовлень </h3>
                <table class="table   table-sm"   >
                    <tr  >
                        <th  >№</th>
                        <th  >Створено</th>
                        <th  >Статус</th>
                        <th style="text-align: right;" >Сума</th>
                        <th  >Примітка</th>
                        <th  > </th>
                    </tr>
                    <tr  zippy="orderlist" >

                        <td zippy="order_id"></td>
                        <td zippy="created"></td>
                        <td  >
                            <span zippy="statusnew" class="badge badge-primary">Новий</span>
                            <span zippy="statusinprocess"  class="badge badge-warning">В обробці</span>
                            <span zippy="statusclosed"  class="badge badge-success ">Виконаний</span>
                            <span zippy="statuscancel"  class="badge badge-light  ">Відмінений</span>
                        </td>
                        <td zippy="amount" style="text-align: right;"></td>
                        <td zippy="comment"></td>


                        <td  ><a zippy="edit"><i class="fa fa-edit"></i></a></td>
                    </tr>
                </table>
                <div zippy="pag"></div>
            </div>  
        </div>  

        <div class="row" zippy="details">
            <div class="col-10    col-md-6 col-lg-3" > 

                <h4>Замовлені товари:</h4>
                <table class="table table-stripped  " >
                    <tr>
                        <th>Код</th>
                        <th>Товар</th>
                        <th style="text-align: right;">Кіл.</th>
                        <th style="text-align: right;">Ціна</th>
                    </tr>
                    <tr zippy="orderdetaillist">
                        <td zippy="code"></td> 
                        <td ><a zippy="name"></a></td>
                        <td zippy="qty" style="text-align: right;"></td> 
                        <td zippy="price" style="text-align: right;"></td> 

                    </tr>
                </table>
                <b>Комментар:</b>
                <div zippy="contacts"></div>
                <form zippy="orderform">
                    <div class="form-group">
                        <label for="delivery">Доставка</label>
                        <select  class="form-control" zippy="delivery"><option value="0">Выбрать</option></select>
                    </div>
                    <div class="form-group">
                        <label for="payment">Оплата</label>
                        <select  class="form-control" zippy="payment"><option value="0">Выбрать</option></select>
                    </div>

                    <div class="form-group">
                        <label>Примітка</label> 
                        <textarea class="form-control" zippy="comment" style="width:300px"></textarea>
                    </div> 
                    <div class="form-group">
                        <input zippy="inprocess" type="submit"  value="В обробку" class="btn   btn-warning">&nbsp;&nbsp;
                        <input type="submit"  zippy="close" value="Виконаний" class="btn   btn-success">&nbsp;&nbsp;
                        <input type="submit"  zippy="cancel" value="Відмінити" class="btn   btn-light">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html> 