<html >

    <body>
        <div class="row">
            <div class="col-xs-8">

                <h4>Звіт  по  продажам.</h4>
                <form zippy="reportform" class="form-inline">
                    <label> З </label>
                    <input class="form-control" type="text" zippy="from"  style="width:100px;">
                    <label> по </label>
                    <input class="form-control" type="text" zippy="to"  style="width:100px;"> 
                    <label> Категорія </label>
                    <select zippy="group" class="form-control"  >
                        <option value="0">Вібрати</option>
                    </select> &nbsp;
                    <input type="submit" value="Створити"  class="btn btn-small btn-primary" >&nbsp;
                </form>
                <a title="Друк" zippy="print"  target="_blank"><i style="font-size: 24px" class="fa fa-print"></i></a> 
                <a title="Експорт в  Ексель" zippy="xls"  target="_blank"> <i style="font-size: 24px"   class="fa fa-file-excel-o"></i></a>      



                <div zippy="report"  style="width:800px;"></div>
            </div>
    </body>
</html>