<html>

    <body>
        <h3>Проводки по аналитике</h3>



        <form zippy="filter" class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="viewtype"  >Тип просмотра</label>
                    <select class="form-control" zippy="viewtype">
                        <option value="1">Плоский список</option>
                        <option value="2">Обороты</option>
                        <option value="3">Сальдо</option>
                    </select>
                </div>
                {{#list}}
                <div class="form-group">
                    <label for="from"  >Начало периода</label>
                    <input class="form-control" type="text" zippy="from" style="width:100px">
                </div>
                <div class="form-group">
                    <label for for="to"  >Конец периода</label>
                    <input class="form-control" type="text" zippy="to" style="width:100px">
                </div>
                <div class="form-group">
                    <label for="searchkey"  >Поиск (по всем полям)</label>
                    <input class="form-control" type="text" zippy="searchkey">
                </div>
                {{/list}}
                {{^list}}
                <div class="form-group">
                    <label for="sdate"     >На дату</label>
                    <input class="form-control" type="text" zippy="sdate" style="width:100px">
                </div>
                {{/list}}


                <div class="form-group">
                    <input type="submit" zippy="submitrow" value="ОК" class="btn btn-outline-primary ">
                </div>
            </div>
            <div class="col-3">
                {{#list}}
                <div class="form-group">
                    <label data-label="chaccount"  >Колонки</label>

                </div>



                <div class="form-check   ">
                    <input class="form-check-input"  type="checkbox" zippy="chcustomer">
                    <label class="form-check-label mr-sm-2" for="chcustomer">Контрагенты</label>
                </div>                  
                <div class="form-check   ">
                    <input class="form-check-input"  type="checkbox" zippy="chitems">
                    <label class="form-check-label mr-sm-2" for="chitems">ТМЦ</label>
                </div>                  
                <div class="form-check   ">
                    <input class="form-check-input"  type="checkbox" zippy="chos">
                    <label class="form-check-label mr-sm-2" for="chos">ОС и НМА</label>
                </div>                  


                <div class="form-check   ">
                    <input class="form-check-input"  type="checkbox" zippy="chacc">
                    <label class="form-check-label mr-sm-2" for="chacc">Счет</label>
                </div>                      
                <div class="form-check   ">
                    <input class="form-check-input"  type="checkbox" zippy="chemployee">
                    <label class="form-check-label mr-sm-2" for="chemployee">Сотрудники</label>
                </div>                      
                <div class="form-check   ">
                    <input class="form-check-input"  type="checkbox" zippy="chdoc">
                    <label class="form-check-label mr-sm-2" for="chdoc">Локумент</label>
                </div>                      

                <div class="form-check   ">
                    <input class="form-check-input"  type="checkbox" zippy="chservice">
                    <label class="form-check-label mr-sm-2" for="chservice">Услуги</label>
                </div>                      

                {{/list}}
                {{^list}}
                <div class="form-group">
                    <label data-label="groupby" for="groupby"  >Сгруппировать по</label>
                    <select class="form-control" zippy="groupby">
                        <option value="1">Счет</option>
                        <option value="2">Контрагент</option>
                        <option value="3">ТМЦ</option>
                        <option value="4">ОС</option>
                        <option value="5">Услуга</option>
                        <option value="6">Сотрудник</option>
                        <option value="7">Документы</option>

                    </select>
                </div>
                {{/list}}


            </div>
        </form>



        <div class="row">
            <div class="col-12">
                <table zippy="tlist" class="table table-sm table-striped ">

                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div zippy="docview"></div>
            </div>
        </div>


    </body>
</html>