<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div class="row">
    <div class="col-xs-4">
        <form zippy="contactdetail" method="post">

            <div class="form-group">
                <label for="editlastname">Фамилия</label>
                <input class="form-control" zippy="editlastname"/>
            </div>

            <div class="form-group">
                <label for="editfirstname">Имя</label>
                <input required="required" class="form-control" zippy="editfirstname"/>
            </div>


            <div class="form-group">
                <label for="editmiddlename">Отчество</label>
                <input class="form-control" zippy="editmiddlename"/>
            </div>

            <div class="form-group">
                <label for="editemail">E-mail</label>
                <input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$" class="form-control" zippy="editemail"/>
            </div>
              <div class="form-group">
                <label for="editphone">Телефон</label>
                <input   class="form-control" zippy="editphone"/>
            </div>


            <div class="form-group">
                <label for="editdescription">Описание, тэги</label>
                <textarea class="form-control" zippy="editdescription" cols="60" rows="6"></textarea>
            </div>

            <input zippy="save" type="submit" value="Сохранить" class="btn btn-default btn-sm">&nbsp;&nbsp;
            <input zippy="cancel" type="button" value="Отменить" class="btn btn-default btn-sm">

        </form>
    </div>
</div>
</body>
</html>
