<html>
<head>

</head>
<body>
<div class="row">
<div class="col-xs-12">   
    <h3 zippy="contentname"></h3>
    <h5 zippy="contentdescription" style="font-style: italic;"></h5>
    <div class="row">
        <div class="col-xs-4 ">
            <h5><b>Коментарі</b></h5>
            <table class="table table-condensed">
                <tr zippy="dw_msglist">
                    <td><span zippy="msgdate"></span>, <span style="color:navy" zippy="msguser"></span>:
                        <p zippy="msgdata"></p>
                    </td>
                    <td valign="top" style="width: 30px;"><a zippy="delmsg"><i class="fa fa-trash"></i></a></td>
                </tr>
            </table>
            <hr>
            <form zippy="addmsgform">
                <div class="form-group">
                    <label for="addmsg">Коментар</label>
                    <textarea required="required" class="form-control" zippy="addmsg"
                              style=" height:120px;"></textarea>
                </div>
                <input class="btn btn-default btn-small" type="submit" value="Додати">
            </form>
        </div>
        <div class="col-xs-4">
            <h5><b>Прикріплені файли</b></h5>
            <table class="table table-condensed">
                <tr zippy="dw_files"  >
                    <td><a zippy="filename" target="_blank"></a></td>
                    <td style="width: 30px;"><a zippy="delfile"><i class="fa fa-trash"></i></a></td>
                </tr>
            </table>
            <hr>
            <form zippy="addfileform" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="addfile">Вибрати файл</label>
                    <input type="file" class="form-control" required="required" zippy="addfile">

                </div>

                <div class="form-group">
                    <label for="adddescfile">Опис</label>
                    <input class="form-control" zippy="adddescfile" class="form-control">
                </div>


                <input class="btn btn-default btn-sm" type="submit" value="Додати">

            </form>
        </div>
          <div class="col-xs-4 ">
            <h5><b>Росклад подій</b></h5>
            <table class="table table-condensed">
                <tr zippy="dw_eventlist">
                    <td> <span zippy="eventdate"></span><br>
                    <a href="#q1-2" data-toggle="collapse"  zippy="eventtitle"  > </a> 
                    <p id="q1-2" class="collapse" zippy="eventdesc" > 
                      </p>
                    </td>
                    
                    <td valign="top" style="width: 30px;"><a zippy="delevent"><i class="fa fa-trash"></i></a></td>
                </tr>
            </table>
            <div zippy="eventpag"></div>
            <hr>
            <form zippy="addeventform">
                <div class="form-group">
                    <label for="addeventdate">Дата, час</label>
                    <input class="form-control" zippy="addeventdate" >
                </div>
                <div class="form-group">
                    <label for="addeventtitle">Заголовок, тип події</label>
                    <input required="required" class="form-control" zippy="addeventtitle" >
                </div>
                <div class="form-group">
                    <label for="addeventdesc">Коментар</label>
                    <textarea   class="form-control" zippy="addeventdesc"  style=" height:120px;"></textarea>
                </div>
                <div class="form-group">
                    <label for="addeventnotify">Нагадати сповіщенням за</label>
                    <select   class="form-control" zippy="addeventnotify">
                        <option value="0">Не нагадувати</option>
                    </select>
                </div>
                <input class="btn btn-default btn-small" type="submit" value="Додати">
            </form>
        </div>
    </div>
    </div>
</div>
</body>
</html>
