<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div class="row">
            <div class="col-4">
                <form zippy="contactdetail" method="post">

                    <div class="form-group">
                        <label for="editlastname">Прізвище</label>
                        <input class="form-control" zippy="editlastname"/>
                    </div>

                    <div class="form-group">
                        <label for="editfirstname">Им'я</label>
                        <input required="required" class="form-control" zippy="editfirstname"/>
                    </div>


                    <div class="form-group">
                        <label for="editmiddlename">По батькові</label>
                        <input class="form-control" zippy="editmiddlename"/>
                    </div>

                    <div class="form-group">
                        <label for="editemail">E-mail</label>
                        <input  type="email" class="form-control" zippy="editemail"/>
                    </div>
                    <div class="form-group">
                        <label for="editphone">Телефон</label>
                        <input   class="form-control" zippy="editphone"/>
                    </div>


                    <div class="form-group">
                        <label for="editdescription">Опис, теги</label>
                        <textarea class="form-control" zippy="editdescription" cols="60" rows="6"></textarea>
                    </div>

                    <input zippy="save" type="submit" value="Зберегти" class="btn btn-light btn-sm">&nbsp;&nbsp;
                    <input zippy="cancel" type="button" value="Відмінити" class="btn btn-light btn-sm">

                </form>
            </div>
        </div>
    </body>
</html>
