<html>
    <head>
    </head>
    <body>

        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link  active" href="#printtab" data-toggle="tab"><i class="fa fa-print"></i> Форма для друку</a></li>
            <li class="nav-item"><a class="nav-link" href="#messagetab" data-toggle="tab"><i class="fa fa-comments"></i> Коментарі</a></li>
            <li class="nav-item"><a class="nav-link" href="#datatab" data-toggle="tab"><i class="fa fa-file"></i> Прикріплені файли, документи</a></li>
            <li class="nav-item"><a class="nav-link" href="#stattab" data-toggle="tab"><i class="fa fa-area-chart"></i> Статистика, проводки</a></li>
        </ul>

        <div class="tab-content">
            <div id="printtab" class="tab-pane  active">
                &nbsp;<span style=" font-weight: bolder;">Експорт:</span>
                <a zippy="print" target="_blank" title="Друк"><i class="fa fa-print"></i></a>
                <a zippy="html" target="_blank" title="HTML"><i class="fa fa-code"></i></a>
                <a zippy="word" target="_blank" title="Word"><i style="position: relative;top: -2px;" class="fa fa-file-word"></i></a>
                <a zippy="excel" target="_blank" title="Excel"><i style="position: relative;top: -2px;" class="fa fa-file-excel"></a>
                <a zippy="xml" target="_blank" title="XML (ДПА)"><i class="fa fa-sign-out-alt"></i></a>
                <br>
                <iframe style="border:0px;" zippy="preview" src="/templates/wait.html" width="800px"
                        height="800px"></iframe>


            </div>

            <div id="messagetab" class="tab-pane">

                <table style="width:90%">
                    <tr>
                        <td valign="top">
                            <table class="ctable">
                                <tr zippy="dw_msglist">
                                    <td><span zippy="msgdate"></span>, <span style="color:navy" zippy="msguser"></span>:
                                        <p style="width:300px" zippy="msgdata"></p>
                                    </td>
                                    <td valign="top"><a zippy="delmsg"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            </table>
                            <form zippy="addmsgform">
                                Коментар:<br>
                                <textarea required="required" zippy="addmsg" style="width:300px;height:120px;"></textarea>
                                <br> <input class="btn btn-light btn-sm" type="submit" value="Додати">
                            </form>
                        </td>


                    </tr>
                </table>

            </div>
            <div id="datatab" class="tab-pane">
                <div class="row">

                    <div  class="col-auto ">
                        &nbsp;<h5>Зв'язані документи</h5>
                        <table class="ctable">
                            <tr zippy="reldocs">
                                <td><a zippy="docitem"></a></td>
                                <td><a zippy="deldoc"><i class="fa fa-trash"></i></a></td>
                            </tr>
                        </table>
                        <hr>
                        <form zippy="addrelform">
                            Додати документ:<br>
                            <input placeholder="Начните ввод номера " style="width:200px" type="text"
                                   required="required" zippy="addrel"><br> <input class="btn btn-light btn-sm "
                                   type="submit" value="Додати">
                        </form>
                    </div>
                    <div class="col-auto ">
                        &nbsp;<h5>Прикріплені файли</h5>
                        <table class="ctable">
                            <tr zippy="dw_files" style="font-size: smaller ">
                                <td style="width:200px"><a zippy="filename" target="_blank"></a></td>
                                <td><a zippy="delfile"><i class="fa fa-trash"></i></a></td>
                            </tr>
                        </table>
                        <hr>
                        <form zippy="addfileform" enctype="multipart/form-data">
                            <input type="hidden" name="MAX_FILE_SIZE" value="5000000">
                            Вибрати файл:<br>
                            <input type="file" required="required" zippy="addfile">
                            <br>Коментар <br>
                            <input type="text" zippy="adddescfile" style="width:200px">
                            <br> <input class="btn btn-light btn-sm" type="submit" value="Додати">

                        </form>

                    </div>

                </div>


            </div>
            <div id="stattab" class="tab-pane">
                <div class="row">

                    <div  class="col-auto ">
                        <h5>Основне</h5>
                        <table class="ctable" style="width:200px;">
                            <tr>
                                <td>Автор</td>
                                <td zippy="detuser"></td>
                            </tr>
                            <tr>
                                <td>Створений</td>
                                <td style="font-size: smaller " zippy="detcreated"></td>
                            </tr>
                            <tr>
                                <td>Змінений</td>
                                <td  style="font-size: smaller " class="text-nowrap " zippy="detupdated"></td>
                            </tr>
                            <tr>
                                <td  class="text-nowrap " colspan="2">Примітка:</td>
                            </tr>
                            <tr>
                                <td colspan="2" zippy="detnotes"></td>
                            </tr>
                        </table>
                    </div>
                    <div   class="col-auto  " >
                        <h5>Проводки</h5>
                        <table class="ctable">
                            <tr>
                                <th>Дт</th>
                                <th>Кт</th>
                                <th>Сума</th>
                            </tr>
                            <tr zippy="dw_entrylist">
                                <td zippy="dt"></td>
                                <td zippy="ct"></td>
                                <td zippy="entryamount" style="text-align:right"></td>
                            </tr>
                        </table>
                    </div>
                    <div   class="col-auto  " >
                        <h5>Історія змін</h5>
                        <table class="ctable">
                            <tr>
                                <th>Статус</th>
                                <th>Дата</th>
                                <th>Автор</th>
                                <th>Хост</th>
                            </tr>
                            <tr zippy="dw_statelist" style="font-size: smaller ">
                                <td zippy="statename"></td>
                                <td  class="text-nowrap " zippy="statedate"></td>
                                <td zippy="stateuser"></td>
                                <td zippy="statehost"></td>
                            </tr>
                        </table>
                    </div>

                </div>


            </div>
        </div>



        <script>

            $(function () {

                $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                    $.cookie('tab_doc', $(e.target).attr('href'));
                });

                var lastTab = $.cookie('tab_doc');

                if (lastTab) {
                    $('ul.nav-tabs').children().removeClass('active');
                    $('a[href=' + lastTab + ']').parents('li:first').addClass('active');
                    $('div.tab-content').children().removeClass('active');
                    $(lastTab).addClass('active');
                }
            });

        </script>
    </body>
</html>
