<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div class="row">
            <div class="col-xs-4">
                <form zippy="itemdetail" method="post" >

                    <div class="form-group">
                        <label for="editname">Наименование товара</label>
                        <input required="required" class="form-control" zippy="editname" />
                    </div>

                    <div class="form-group">
                        <label for="edittype">Тип</label>
                        <select class="form-control" zippy="edittype"></select>
                    </div>


                    <div class="form-group">
                        <label for="editgroup">Группа</label><i class="icon-info-sign" title="Для прайсов, скидок, акций..."></i>
                        <select class="form-control" zippy="editgroup">
                        <option  value="0">Не задана</option></select>
                    </div>
                    <div class="form-group">
                        <label for="editprice">Оптовая  цена</label>
                        <input style="width: 100px" pattern= "[0-9\.]+"  class="form-control" zippy="editpriceopt" />
                    </div>
                    <div class="form-group">
                        <label for="editprice">Розничная  цена</label>
                        <input style="width: 100px" pattern= "[0-9\.]+"  class="form-control" zippy="editpriceret" />
                    </div>

                    <div class="form-group">
                        <label for="editmeasure">Ед. измерениня</label>
                        <select class="form-control" zippy="editmeasure"></select>
                    </div>
                    <div class="form-group">
                        <label for="editcode">Код  товара (артикул)</label>
                        <input  class="form-control" zippy="editcode" />
                    </div>
                    <div class="form-group">
                        <label for="edituktzed">Код  УКТ ЗЕД</label>
                        <input  class="form-control" zippy="edituktzed" />
                    </div>
                    <div class="form-group">
                        <label for="editbarcode">Штрих-код</label>
                        <input  class="form-control" zippy="editbarcode" />
                    </div>
                    <div class="form-group">
                        <label for="editdescription">Описание</label>
                        <textarea class="form-control" zippy="editdescription" ></textarea></td>
                    </div>

                    <input zippy="save" type="submit" value="Сохранить" class="btn btn-default btn-xs">&nbsp;&nbsp;
                    <input zippy="cancel" type="button" value="Отменить" class="btn btn-default btn-xs"></td>

                </form>
            </div>
        </div>
    </body>
</html>
