<html>
    <body>
        <span style="font-size:16px "> Надлишкова кількість товарів</span>
        <span class="fa fa-info-circle " data-toggle="tooltip" data-placement="top"
              title="Товари, кількість яких на  дату призводить до затоварювання складів."></span>
        <table class="table   table-sm">

            <tr>
                <th>Дата</th>
                <th>Товар</th>
                <th>Склад</th>
                <th>Всього</th>
                <th>Норма</th>
            </tr>
            <tr zippy="highlist">
                <td zippy="highdate"></td>
                <td zippy="highitem"></td>
                <td zippy="highstore"></td>
                <td zippy="highqty" align="right"></td>
                <td zippy="highneed" align="right"></td>
            </tr>
        </table>
        <br>
        <span style="font-size:16px ">Недостатня кількість товарів</span>
        <span class="fa fa-info-circle " data-toggle="tooltip" data-placement="top"
              title="Товари, кількість яких на  дату недостатньо для задоволення середнього  попиту."></span>

        <table class="table   table-sm">

            <tr>
                <th>Дата</th>
                <th>Товар</th>
                <th>Склад</th>
                <th>Всього</th>
                <th>Норма</th>
            </tr>
            <tr zippy="lowlist">
                <td zippy="lowdate"></td>
                <td zippy="lowitem"></td>
                <td zippy="lowstore"></td>
                <td zippy="lowqty" align="right"></td>
                <td zippy="lowneed" align="right"></td>
            </tr>
        </table>                


    </body>
</html>
