<html>
    <body>


        <span style="font-size:16px ">Неліквідні товари</span>
        <span class="fa fa-info-circle " data-toggle="tooltip" data-placement="top"
              title="Товари  які  не  мають жодної продажі за місяць"></span>
        <table class="table   table-sm">
            <tr>
                <th>Склад</th>
                <th>Товар</th>
                <th>Всього</th>
            </tr>
            <tr zippy="noliqlist">
                <td zippy="noliqitem"></td>
                <td zippy="noliqstore"></td>
                <td zippy="now" align="right"></td>
            </tr>
        </table>
        <div zippy="noliqpag"></div>



    </body>
</html>
