<html>
    <body>


        <span style="font-size:16px ">Заплановані документи</span>
        <span class=" fa fa-info-circle " data-toggle="tooltip" data-placement="top"
              title="Документи які  очікують остаточного рішення при появі остаточних данних "></span>
        <table class="table   table-sm">
            <tr>
                <th>Номер</th>
                <th>Тип</th>
                <th>Дата</th>
            </tr>
            <tr zippy="pdoclist">
                <td ><span zippy="number"></span></td>
                <td zippy="type"></td>
                <td zippy="date"></td>
            </tr>
        </table>


    </body>
</html>
