<html>
    <head>

    </head>

    <body>
        <div class="row">
            <div class="col-12 col-lg-8">
                <div zippy="acctable">
                    <h3>План счетов </h3>

                    <a class="btn btn-info " zippy="addnew">Добавить</a>
                    <table   class="table table-striped  table-sm">
                        <tr>
                            <th style="width:60px; text-align: left;" >Счет</th>
                            <th>Наименование</th>
                            <th  > </th>


                        </tr>
                        <tr zippy="list">
                            <td zippy="code"></td>
                            <td zippy="name"></td>
                            <td  > <a zippy="del"><i class="fa fa-trash"></i></a></td>

                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-4">        

                <form  zippy="accdetail"  >
                    <div class="form-group">
                        <label for="editacc_code">Код</label>
                        <input  required="required" class="form-control" zippy="editacc_code"/>
                    </div>
                    <div class="form-group">
                        <label for="editacc_name">Название</label>
                        <input  required="required" class="form-control" zippy="editacc_name"/>
                    </div>
                    <div class="form-group">
                        <label for="editacc_p">Родительский</label>
                        <select class="form-control select2"  zippy="editacc_p">
                            <option value="0">Не задан</option>
                        </select>
                    </div>

                    <input zippy="save" type="submit" value="Сохранить" class="btn btn-primary  ">&nbsp;&nbsp;
                    <input zippy="cancel" type="button" value="Отменить" class="btn btn-outline-primary  "> 

                </form>
            </div>
        </div>

    </body>

</html>

