<html>
    <head>

    </head>
    <body>
        <div class="row">
            <div class="col-12 col-lg-10 col-xl-8">
                <h2>Расчеты с контрагентами</h2>
                <div zippy="clistpanel">
                    <form zippy="clistfilter" class="form-inline ">

                        <label for="clistsort">Сортировать по</label>
                        <select zippy="clistsort" class="form-control mr-sm-2  ">
                            <option value="0">Названию</option>
                            <option value="1">Возростанию долга</option>
                            <option value="2">Уменьшению долга</option>
                        </select>


                        <div class="form-check   ">

                            <input class="form-check-input"  type="checkbox" zippy="clistshowall">
                            <label class="form-check-label mr-sm-2" for="clistshowall">Показать всех</label>
                        </div>         
                        <input type="submit" class="btn btn-light  " value="ОК">

                    </form>
                    <table class="table table-bordered  table-sm  "  >
                        <tr>
                            <th>Название</th>
                            <th class="text-right">Долг нам</th>
                            <th class="text-right">Долг наш</th>
                            <th></th>

                        </tr>
                        <tr zippy="clist">
                            <td zippy="customer_name"></td>
                            <td zippy="debet" class="text-right"></td>
                            <td zippy="credit"  class="text-right"></td>

                            <td><a zippy="edit" title="Движение  по  счету"><i class="fa fa-calculator"></i></a>
                                &nbsp;<a zippy="invoice" title="Счета  к  оплате"><i class="fa fa-file"></i></a></td>
                        </tr>
                    </table>
                    <div zippy="pag"></div>
                </div>

                <div zippy="doclist">
                    <a zippy="backtolist">R списку</a>
                    <h4>Движение  по  счету <span zippy="custname1"></span></h4>
                    <table class="table table-bordered    " >
                        <tr>
                            <th class="text-right">Долг нам</th>
                            <th class="text-right">Долг наш</th>
                            <th>Дата</th>
                            <th>Документ</th>
                        </tr>
                        <tr zippy="dlist">
                            <td zippy="amountto"  class="text-right"></td>
                            <td zippy="amountfrom"  class="text-right"></td>
                            <td zippy="ddate"></td>
                            <td><a zippy="ddoc" title="Документ"></a></td>
                        </tr>
                    </table>
                    <div zippy="pagd"></div>
                </div>
                <div zippy="invoicelist">
                    <a zippy="backtolist2">К списку</a>
                    <h4>Счета  к  оплате   <span zippy="custname2"></span></h4>

                    <table class="table table-bordered    "  >
                        <tr>
                            <th>Документ</th>
                            <th class="text-right">Сумма</th>
                            <th>Дата к  оплате</th>
                            <th> </th>

                        </tr>
                        <tr zippy="ilist">
                            <td><a zippy="idoc" title="Документ"></a></td>
                            <td zippy="iamount"  class="text-right"></td>
                            <td zippy="idate"></td>
                            <td ><a zippy="pay" class="btn btn-success btn-sm">Оплачен</a></td>

                        </tr>
                    </table>
                    <div zippy="pagi"></div>
                </div>
                <div zippy="docview"></div>

            </div>
        </div>
    </body>
</html>